@import './functions';
@import './variables';

@mixin base-font() {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: px-to-rem(16);
  line-height: 18px;
}

@mixin font-headline-4() {
  @include base-font;
  font-size: px-to-rem(20);
  line-height: 24px;
  font-weight: 600;
}

@mixin layout-fix($top: 0, $bottom: 0, $left: 0, $right: 0) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin layout-fit($top: 0, $bottom: 0, $left: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
